{% extends 'base.twig'%}
{% block body %}
    <div class="mainp">
        {% for article in articles %}
            <div class="component">
                <h2>{{article.name}}</h2>
                <p>{{article.recipe}}</p>
                <div class="aut">
                    <em>Author: </em><strong>{{article.author_name}}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}