{% extends 'base.twig'%}
{% block body %}
    <div class="mainp">
        <div class="component">
            <h2 style="color: blue;">First</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. As
                pernatur beatae excepturi fugiat iste libero mollitia necessita
                tibus nihil numquam obcaecati, placeat quo recusandae soluta sunt
                , tenetur ut vel veritatis? Accusamus fugiat incidunt odit provident q
                uae quia quis repellat temporibus totam vitae. Cum et iusto nemo nesciun
                t repellat ut! Harum quas, voluptatem.
            </p>
            <div class="aut">
                <em style="color: green;">Author: </em><strong style="color: red;">Ratatui</strong>
            </div>
        </div>
        <div class="component">
            <h2 style="color: blue;">Second</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. As
                pernatur beatae excepturi fugiat iste libero mollitia necessita
                tibus nihil numquam obcaecati, placeat quo recusandae soluta sunt
                , tenetur ut vel veritatis? Accusamus fugiat incidunt odit provident q
                uae quia quis repellat temporibus totam vitae. Cum et iusto nemo nesciun
                t repellat ut! Harum quas, voluptatem.
            </p>
            <div class="aut">
                <em style="color: green;">Author: </em><strong style="color: red;">Ratatui</strong>
            </div>
        </div>
        <div class="component">
            <h2 style="color: blue;">Third</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. As
                pernatur beatae excepturi fugiat iste libero mollitia necessita
                tibus nihil numquam obcaecati, placeat quo recusandae soluta sunt
                , tenetur ut vel veritatis? Accusamus fugiat incidunt odit provident q
                uae quia quis repellat temporibus totam vitae. Cum et iusto nemo nesciun
                t repellat ut! Harum quas, voluptatem.
            </p>
            <div class="aut">
                <em style="color: green;">Author: </em><strong style="color: red;">Ratatui</strong>
            </div>
        </div>
    </div>
{% endblock %}